<h1>Featured Feeds</h1>

<table border="1">
  <tr>
    <th></th>
    <th>Feed</th>
    <th>Actions</th>
		<th>Position</th>
  </tr>

<%= render :partial => 'featured_feed', :collection => @featured_feeds %>

</table>

<br />
